.header-section nav {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: space-around;
}
.header-section nav a {
  display: inline-block;
  height: 100%;
  line-height: 64px;
}
