.buisness-section{
    background: url(../images/map.png) 50% no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 359px;
    height: auto;
    padding-top: 65px;
    box-sizing: border-box;
    .inner-section{
        
        .header{
            flex: 1 1 100%;
            color: @white;
            font: @font-h3;
            text-align: center;
            margin:0 0 42px;
        }
        ul{
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        max-width: 600px;
        margin: 0 auto;
        justify-content: space-around;
        padding:0;
        flex: 1 1 100%;
        li{
            text-align: center;
            height: 180px;
            .content{
                width: 82px;
                height: 82px;
                text-align: center;
                line-height: 100px;
                margin: 0 auto;
                border: 2px solid @white;
                border-radius: 45px;
            }
            p{
                .font-normal();
                color: @white;
                max-width: 125px;
            }
        }
    }
    }
}