.partners-section{
    p{
        font: @font-h4;
        text-align: center;
        margin: 60px 0 30px;
    }
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: no-wrap;
        justify-content: space-around;
        list-style-type: none;
        margin-bottom: 70px;
        padding:0;
    }
}