@import 'conf.less';
@import 'flexslider.less';
@import 'animation.less';
@import 'slider-section.less';
@import 'navigation.less';
@import 'products.less';
@import 'clients.less';
@import 'partners.less';
@import 'buisness.less';
body{
    margin: 0;
    padding: 0;
    outline: none;
    .font-normal();
    color: @black;
    text-decoration: none;
}

.inner-section{
    max-width: 960px;
    width: 100%;
    padding: 0 10px;
    margin:0 auto;
    box-sizing: border-box;
}

.grey-button{
    display: block;
    width: 220px;
    height: 40px;
    border-radius: 4px;
    background-color: #fff;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    color: #191919;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 13px;
    margin: 27px;
    .font-button-text();
    letter-spacing: .02px;
}